.contacto-container {
  background-color: #f9f9f9;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #333;
  margin-top: 1.5vh;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contacto-form {
  display: flex;
  flex-direction: column;
}

.contacto-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contacto-form input,
.contacto-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contacto-form input:focus,
.contacto-form textarea:focus {
  border-color: #24493e;
  outline: none;
}

.btn-enviar,
.btn-whatsapp {
  background-color: #3f816c;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.btn-enviar:hover {
  background-color: #546b63;
}

.btn-whatsapp {
  background-color: #3f816c;
}

.btn-whatsapp:hover {
  background-color: #546b63;
}

.datos-container {
  margin-top: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #444;
}

.datos-container p {
  margin: 5px 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .contacto-container {
    padding: 15px;
  }

  .btn-enviar,
  .btn-whatsapp {
    font-size: 0.9rem;
  }
}
